body{
    font-family: 'Roboto', sans-serif;
}
.metric-num{
	padding: 8px;
    color: #2c7d8e;
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.metric-title{
    font-size: 14px;
    margin: 0;
    text-align: center;
}
.hidden{
	display: none !important;
}
#post-title{
	font-size: 20px;
    font-weight: bold;
    color: #3f51b5;
    margin-top: 25px;
}
#post-description{    
    color: #76838f;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
}
#post-media{
    max-width: 50%;
    max-height: 250px;
}
.top-post-bloc{
	text-align: right;
}
.top-post-bloc h4{
	text-align: left;
	color: #000;
	font-weight: bold;
}
.theme-top-post{
	font-size: 15px;
    padding: 5px 40px;
    font-weight: 600;
}
.nb-likes{
    float: left;
    margin-left: 25%;    
    color:#e01763;
}
#share-post{
    margin-top: 10px !important; 
}
.shared{
    background-color: green !important;
}
/*bey*/
.align-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-title{
    font-size:25px !important;
    color:#22a7f0 !important;
    height:auto !important;
    font-weight:600 !important;
    padding-left:20px !important;
}
h4{
   color:#60bff4 !important;
}
h4 span{
    color: #000;
    font-size: 25px;
}
.btn{
    margin-top:0!important;
}
h3{
    text-align: left;
    font-size: 16px;
    color: #0099c6;
    font-weight: 600;
}
#form-change-date label{
    font-weight: bold;
    color: black;
}
.filtre-bloc {
    text-align: right;
}
.filtre-bloc ul > li{
    display: inline-block;
    padding: 5px 10px;
    background-color: #dbdcde;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    margin: 5px 2px;
    cursor: pointer;
}
.filtre-bloc ul > li.active{    
    background-color: #52a6ea;    
}
