@media only screen and (max-width: 450px) {
    .game .logo {
        width: 220px;
        margin-top: 6%;
    }
    .game .description {
        margin-top: 6%;
        font-size: 17px;
        color: #646464;
    }
    .game-actions ul li button {
        font-size: 16px;
    }
    .game-actions ul li button {
        font-size: 12px;
    }
    .game-actions ul li button {
        font-size: 13px;
    }
    .game-actions #posts-list .retailer {
        font-size: 13px;
        margin-bottom: 1%;
    }
    .game-actions #posts-list .title-post {
        font-size: 15px;
    }
    .game-actions #posts-list .post-content {
        font-size: 15px;
    }
  }