/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family : "tahoma_regular";
    src : url('fonts/tahoma_regular.ttf');
}

@font-face{
    font-family : "tahoma_bold";
    src : url('fonts/tahoma_bold.ttf');
}

.title_regular {
	font-family : "tahoma_regular", sans-serif;
}

.title_bold {
	font-family : "tahoma_bold", sans-serif;
}
body{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game{
    text-align: center;
    font-family : "tahoma_regular", sans-serif;
}
.game .logo{
    width: 250px;
    margin-top: 3%;
}
.game .description{
    margin-top: 2%;
    font-size: 20px;
    color: #646464;
}
.game .description .pub{
    font-family : "tahoma_bold", sans-serif;
}
.game-actions{
    text-align: right;
    padding: 30px 30px ;
}
.game-actions p,span{
    word-wrap: break-word;
}
.game-actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
}
.game-actions ul li button{
    padding: 5px 25px;
    font-size: 20px;
    font-family : "tahoma_bold", sans-serif;
    color: #21264e;
    border: 0;
    background-color: transparent;
}
.game-actions ul li button.inactive{
    color: #bebebe;
    background-color: #eaf1f4;
    box-shadow: 5px 5px 5px 2px #c9dae4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*box-shadow: 15px 15px 10px -15px #f6f6f6;*/
}
.game-actions .collapse{    
    background-color: #eaf1f4;
    box-shadow: 0 -5px 5px -5px #c9dae4;
}
.game-actions #formulaire{
    padding: 15px;
    border-radius: 15px;
}
.game-actions .theme-subject{
    color: #216bac;
    font-size: 20px;
}
.game-actions input,textarea{
    text-align: right;
    border-radius: 10px !important;
}
.game-actions .half-left{
    text-align: left;
}
.game-actions .half-right{
    text-align: right;
}
.game-actions .half-right button{
    color: #00559f;
    font-family : "tahoma_bold", sans-serif;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #00559f;
    padding: 7px 15px;
}
.game-actions .half-left button{
    color: #1a84ac;
    font-family : "tahoma_bold", sans-serif;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #1a84ac;
    padding: 7px 15px;
}
.game-actions #posts-list{
    padding: 20px 10px;
}
.game-actions #posts-list select{
    color: #1a84ac;
    border: 1px solid #1a84ac;
    padding: 7px 15px;
    font-size: 15px;
    font-family : "tahoma_bold", sans-serif;
    background: transparent;
}
.game-actions #posts-list .theme-subject{
    margin-top: 1%;
    font-size: 15px;
    font-family : "tahoma_bold", sans-serif;
    color: #1a84ac;
    margin-top: 2%;
    margin-bottom: 0;
}
.game-actions #posts-list .post-bloc{
    margin-top: 3%;
    margin-bottom: 5%;
}
.game-actions #posts-list .post-content{
    color: #6c6c6c;
    font-size: 20px;
}
.retailer{
    color: #21264e;
    font-family : "tahoma_bold", sans-serif;
    margin-bottom: 0;
}
.game-actions #posts-list .post-time{
    color: #1a84ac;
    font-family : "tahoma_regular", sans-serif;
}
.game-actions #posts-list .title-post{
    color: #1a84ac;
    font-family : "tahoma_regular", sans-serif;
    margin-bottom: 0;
}
.game-actions #posts-list .picture-post{
    width: 100%;
}
.game-actions #posts-list .img-post .like-post{   
    text-align: center;
    position: absolute;
    top: 1%;
    right: 4%;
    display: inline-flex; 
}
.circle-like{
  /*  margin: auto;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: #fff;*/
    display: flex;
}
.likes-show{
    margin: auto;
    direction: rtl;
}
.likes-show span{
    text-decoration: underline;
    color:#21264e;
    font-family : "tahoma_bold", sans-serif;
}
.circle-like img{
    width: 70px;
    margin-left: 15px;
}
.game-actions #posts-list .img-post .like-post p{
    color: #2fc6ff;
    margin-top: 2%;
    font-size:2vw;
}
.modal-content{
    text-align: center;
    background-color: #eaf1f4;
    color: #2fc6ff;
}
.modal-content .retailer{
    margin-left: 34%;
}
#input-image{
    display: none;
}
.text-error{
    color: red;
}
.valid-save{
    color: green;
}
.title-post .circle-like .nb-like{
    color: #30d1ff;
}
.userLikeBloc{
    padding: 2%;
    color: #1a84ac;
}
.userLikeBloc span{
    color: #6c6c6c;
    margin-right: 1%;
}
@media only screen and (max-width: 1030px) {
    .circle-like img{
        width: 65px;
        margin-left: 13px;
    }
}
@media only screen and (max-width: 900px) {  
    .circle-like img{
        width: 60px;
    }
}
@media only screen and (max-width: 840px) {  
    .circle-like img{
        width: 50px;
    }
}
@media only screen and (max-width: 700px) {    
    .game-actions {
        padding: 30px 10px;
    }
}
@media only screen and (max-width: 550px) {    
    .game-actions ul li button {
        font-size: 17px; 
    }
    .circle-like img{
        width: 45px;
        margin-left: 10px;
    }
    .likes-show span{
        font-size: 15px;
    }
}
@media only screen and (max-width: 455px) {
    .game-actions #posts-list .img-post .like-post {
        right: 5%;        
    }
    .circle-like img{
        width: 40px;
        margin-left: 9px;
    }
    .likes-show span{
        font-size: 13px;
    }
    .game .logo {
        width: 220px;
        margin-top: 6%;
    }
    .game .description {
        margin-top: 6%;
        font-size: 17px;
        color: #646464;
    }
    .game-actions ul li button {
        font-size: 16px;
    }
    .game-actions ul li button {
        font-size: 12px;
    }
    .game-actions ul li button {
        font-size: 13px;
    }
    .retailer {
        font-size: 13px;
        margin-bottom: 1%;
    }
    .game-actions #posts-list .title-post {
        font-size: 15px;
    }
    .game-actions #posts-list .post-content {
        font-size: 15px;
    }    
  }

  @media only screen and (max-width: 575px) {
    .modal-content .retailer{
        margin-left: 40%;
    }   
}

  @media only screen and (max-width: 370px) {
    .game .logo {
        width: 210px;
        margin-top: 10%;
    }
    .game .description {
        margin-top: 6%;
        font-size: 17px;
        color: #646464;
    }
    .game-actions {
        padding: 20px 10px;
    }
    .game-actions #posts-list select {
        font-size: 12px;
        margin-bottom: 3%;
    }    
    .game-actions {
        padding: 30px 5px;
    }
    .game-actions #posts-list .img-post .like-post {
        right: 6%;        
    }
    .circle-like img{
        width: 35px;
        margin-left: 7px;
    }
    .likes-show span{
        font-size: 13px;
    }
}
@media only screen and (max-width: 358px) {
    .game-actions ul li button {
        font-size: 10px;
    }
    .game-actions #posts-list .img-post .like-post {
        right: 7%;        
    }
    .circle-like img{
        width: 30px;
        margin-left: 6px;
    }
}
